<div class="food-menu-section" id="food-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="menu-head text-center">
          <h2>Contact</h2>
          <p><a href="#">example@mail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>