<li class="nav-item <%= menu_item_active?(ingredients_path) %>">
  <%= link_to ingredients_path, class: "nav-link" do %>
    <i class="icofont-pizza"></i> Ingredients
  <% end %>
</li>
<li class="nav-item <%= menu_item_active?(ingredients_path) %>">
  <%= link_to ingredients_path, class: "nav-link" do %>
    <i class="icofont-bill"></i> Chefs Payments (in development)
  <% end %>
</li>