<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="h2 pb15"
			style="color:#ffffff; font-family:'Playfair Display', Georgia, serif; font-size:35px; line-height:76px; text-align:center; font-style:italic; padding-bottom:15px;">
			<multiline>
				<h1>
					<h1>Welcome to<br> <span style="color: #ff702a;">Street Food</span>, <%= @user.name %></h1>
			</multiline>
		</td>
	</tr>
	<tr>
		<td class="h5 pb30"
			style="color:#ffd5ab; font-family:'Playfair Display', Georgia, serif; font-size:16px; line-height:24px; text-align:center; padding-bottom:30px;">
			<multiline>
				You have successfully signed up, your username is: <%= @user.name %>.<br>
			</multiline>
		</td>
	</tr>
	<tr>
		<td class="text"
			style="color:#a3a3a3; font-family:'Playfair Display', Georgia, serif; font-size:16px; line-height:30px; text-align:center;">
			<multiline>
				<p>To login to the site, just follow this link: <%= @url %>.</p>
				<p>Thanks for joining and have a great day!</p>
			</multiline>
		</td>
	</tr>
</table>