<div class="special-section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1>List of Orders</h1>

    <%= render partial: "#{current_user.role.parameterize(separator: '_')}_orders_list", locals: {orders: @orders} %>
  </div>
</div>
