<div class="special-section" id="open_order">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg 12 col-xl-12">
        <div class="special-content text-center">
          <h2 class="mb-2">Thank you for your order!</h2>
          <h3 class="mb-5">
            Your order number is #<%= @order.id %><br>
            <strong class="w-color">We'll let you know as soon as it's ready!</strong><br>
            <small>Believe me, it will be delicious.</small>
          </h3>
          <%= render partial: "order", locals: {order: @order} %>
          <br>
          <div>
            <h4 class="mb-5">Total: <b><%= number_to_currency(@order.price, :unit => "$") %></b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>