<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
  <div class="food-menu text-center">
    <div class="food-img-info">
      <div class="food-img">
        <%# <img src="img/food1.png" class="w-100" alt=""> %>
        <%= image_pack_tag('food1.png', class: "w-100") %>
      </div>
      <div class="overlay text-left">
        <h4>Ingredients</h4>
        <span>½ tbsp olive oil</span>
        <span>1 onion, peeled and finely chopped</span>
        <span>1 tsp mixed dried herbs</span>
        <span>1 egg, beaten</span>
        <span> 4 slices mature Cheddar (optional)</span>
      </div>
    </div>
    <div class="food-informaion">
      <div class="row align-items-center">
        <div class="col-12">
          <h2><%= food.name %></h2>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="food-info text-left">
            <span><i class="icofont-clock-time"></i> 25 min away</span>
            <h3><span>$</span><%= food.price %></h3>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
          <%# <a href="#" class="btn order-btn2">Order Now</a> %>
          <%= link_to "Order Now", {controller: "orders", action: "create", food_id: food.id}, method: :post, class: "btn order-btn2" %>
        </div>
      </div>
    </div>
  </div>
</div>