<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="h2 pb15"
			style="color:#ffffff; font-family:'Playfair Display', Georgia, serif; font-size:35px; line-height:76px; text-align:center; font-style:italic; padding-bottom:15px;">
			<multiline>
				<h1>Hello, sweetie <%= @user.name %>!</h1>
			</multiline>
		</td>
	</tr>
	<tr>
		<td class="h5 pb30"
			style="color:#ffd5ab; font-family:'Playfair Display', Georgia, serif; font-size:16px; line-height:24px; text-align:center; padding-bottom:30px;">
			<multiline>Your order number is #<%= @order.id %></multiline>
		</td>
	</tr>
	<tr>
		<td class="text"
			style="color:#a3a3a3; font-family:'Playfair Display', Georgia, serif; font-size:16px; line-height:30px; text-align:center;">
			<multiline>Your order has been successfully created, now just wait!</multiline>
		</td>
	</tr>
</table>