<div class="home-hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="home-hero-content">
          <h1>Street <strong>Food</strong></h1>
          <p>Have any food on your mind?<span> <a href="<%= dishes_path %>">Just order now!</a></span></p>
          <!-- Button trigger modal -->
          <% if @favorite_dish.present? %>
          <%= link_to "Try daily favorite dish", food_order_path(@favorite_dish), remote: true, class: "btn menu-btn" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="burger-img">
          <%= image_pack_tag('burger1.png', class: "w-100 img-fluid") %>
        </div>
      </div>
    </div>
  </div>
</div>