<div class="home-hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="home-hero-content">
          <h1>Street <strong>Food</strong></h1>
          <p>Have any food on your mind?<span> <a href="contact.html">Just order now!</a></span></p>
          <a class="btn menu-btn" href="#food-menu">Today's Menu <i class="icofont-double-right"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="burger-img">
          <%= image_pack_tag('burger1.png', class: "w-100 img-fluid") %>
        </div>
      </div>
    </div>
  </div>
</div>